<nz-breadcrumb style="margin:16px 0;">
    <!-- <nz-breadcrumb-item>Home</nz-breadcrumb-item> -->
    <nz-breadcrumb-item>Posts</nz-breadcrumb-item>
  </nz-breadcrumb>
  <div style="background:#fff; padding: 24px; min-height: 280px;">
    <div nz-row>
      <div nz-col ontouchstart="" [nzLg]="8" [nzSm]="12" *ngFor="let post of posts?.data | dateformat">
          <div class="example-2 card">
              <div class="wrapper" [ngStyle]="{'background-image': 'url(' + (post?.posters[0]?.url || '/assets/navy.jpg') + ')'}">
                <div class="header">
                  <div class="date">
                    <span>{{ post.createdAt }}</span>
                  </div>
                  <ul class="menu-content">
                    <li>
                      <div class="fa fa-bookmark"></div>
                    </li>
                    <li><div class="fa fa-heart"><span>18</span></div></li>
                    <li><div class="fa fa-comment"><span>3</span></div></li>
                  </ul>
                </div>
                <div class="data">
                  <div class="content">
                    <!-- <span class="author">Jane Doe</span> -->
                    <h1 class="title"><a [routerLink]="['/posts/view/' + post._id]">{{ post.title }}</a></h1>
                    <p class="text" [innerHTML]="post.content"></p>
                    <a [routerLink]="['/posts/view/' + post._id]" class="button">Read more</a>
                  </div>
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>
  <div class="pagination">
    <nz-pagination [nzTotal]="posts?.total" [nzItemRender]="hyperlink" [nzPageIndex]="params?.page || 1" (nzPageIndexChange)="handlePageChange($event)"></nz-pagination>
    <ng-template #hyperlink let-pageParams="$implicit" let-pageNumber="page">
      <a *ngIf="pageParams === 'pre'"><</a>
      <a *ngIf="pageParams === 'page'" [routerLink]="[ getPageURL(pageNumber) ]">{{ pageNumber }}</a>
      <a *ngIf="pageParams === 'next'">></a>
    </ng-template>
    
  </div>