<nz-breadcrumb style="margin:16px 0;">
  <nz-breadcrumb-item>{{ 'blog' }}</nz-breadcrumb-item>
  <nz-breadcrumb-item>{{ 'crear' }}</nz-breadcrumb-item>
</nz-breadcrumb>
<div *ngIf="!post?.created">
    <h1>{{ 'Subir foto de portada' }}</h1>
    <!-- upload poster image -->

    <div class="clearfix">
        <nz-upload
          nzListType="picture-card"
          [(nzFileList)]="fileList"
          [nzShowButton]="fileList.length < 3"
          [nzShowUploadList]="showUploadList"
          [nzPreview]="handlePreview"
          [nzCustomRequest]="customReq"
          nzAction="http://localhost:3030/storage"
        >
          <i nz-icon nzType="plus"></i>
          <div class="ant-upload-text">Upload</div>
        </nz-upload>
        <nz-modal
          [nzVisible]="previewVisible"
          [nzContent]="modalContent"
          [nzFooter]="null"
          (nzOnCancel)="previewVisible = false"
        >
          <ng-template #modalContent>
            <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
          </ng-template>
        </nz-modal>
      </div>

    <!-- upload end -->
  <form #form (submit)="onSubmit($event, form)" ngNativeValidate>
    <h1>{{'Titulo'}}</h1>
    <textarea name="title" [ngModelOptions]="{standalone: true}" nz-input
      placeholder="Autosize height based on content lines" ngModel nzAutosize required></textarea>
    <div style="margin:24px 0;"></div>
    <h1>{{'Contenido'}}</h1>
    <app-ngx-editor [imageEndPoint]="endpointURL" [minHeight]="'500px'" [ngModelOptions]="{standalone: true}" [placeholder]="'Enter text here...'" [spellcheck]="true" [(ngModel)]="htmlContent">
    </app-ngx-editor>
    <button type="submit" class="submit-btn" nz-button [nzSize]="'large'" nzType="primary">{{'Crear Articulo'}}</button>
  </form>
</div>
<div *ngIf="post?.created" class="successful">
  <nz-alert nzType="success" nzMessage="Articulo se creo" [nzDescription]="successLink"></nz-alert>
  <ng-template #successLink>
    {{'Articulo a sido publicado'}} <a [href]="'/posts/view/' + post?.id">{{'Ver Articulo'}}</a>
  </ng-template>
</div>
